@import "tailwindcss";
a.active hr{
  display: block;
}

*{
  font-family: Arial, Helvetica, sans-serif;
}

hr{
  display: none;
}
.nav-menu{
  display:flex;
  gap:20px;
  list-style:none;
}

.menu-icon{
  display:none;
  cursor:pointer;
}

@media(max-width:768px){

  .nav-menu{
    display:none;
  }

  .menu-icon{
    display:block;
  }

}